@import variables
@import functions

body
    margin: 0px
    padding: 0px
    display: block
    width: 100%
    height: 100%
    background: #FFF
    font-size: $browser-context + px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: $regular
.clear 
    display: block
    width: 100%
    margin: 0px
    padding: 0px
    clear: both
.home
    footer
        margin-top: 0px 
.general-wrapper-landing
    display: block
    width: 100%
    margin: 0px
    padding: 0px
    header
        display: block
        width: 100%
        padding: 12px 0px
        margin: 0px
        background: rgba(255,255,255,0.6)
        text-align: center
        position: relative
        z-index: 10
        @include breakpoint(tablet)
            background: url('../assets/img/bgheader.jpg') no-repeat center center
            background-size: cover
        img
            display: block
            margin: 0px auto
    .slider
        display: block
        width: 100%
        margin: -125px 0px 0px 0px
        padding: 0px
        @include breakpoint(tablet)
            margin: 0px
    .form-box 
        form
            display: inline-block
            margin: 
                bottom: 50px
            > p
                background: url("../assets/img/line-green.png") no-repeat center top
                font:
                    size: em(21)
                    weight: 300
                color: #585858
                margin: 
                    top: 30px
                    bottom: 30px
                padding-top: 20px 
                strong  
                    font-weight: 700
            .form-group
                .form-control
                    border-radius: 0px
                    border-color: #b8b8b8
                    color: #585858
                    font-size: em(15)
                    &::-webkit-input-placeholder 
                        color: #585858
                    &:-moz-placeholder 
                        color: #585858
                    &::-moz-placeholder 
                        color: #585858
                    &:-ms-input-placeholder 
                        color: #585858
            .send
                input
                    background: #1accd2
                    -webkit-appearance: none
                    color: #FFF
                    font: 
                        size: 21px
                        weight: 400
                    text:
                        align: center
                        transform: uppercase
                    border-radius: 50px
                    outline: none
                    border: none
                    padding: 6px 40px
                    margin-bottom: 30px
            div.wpcf7-response-output
                clear: both
    .pre-footer
        display: block
        width: 100%
        margin: 0px 0px 10px 0px
        padding: 0px
        background: #f0f0f0
        @include breakpoint(mobile)
            padding-bottom: 15px
        p   
            color: #585858
            font: 
                size: em(22)
                weight: 400
            text: 
                transform: uppercase
                align: center
            width: 69%
            display: block
            float: left
            margin: 60px 0px 0px 0px
            @include breakpoint(mobile)
                width: 100%
            strong  
                font-weight: 700
        img
            position: relative
            top: -20px
            @include breakpoint(mobile)
                display: block
                margin: 0px auto
                top: 0px
    .bot-text
        color: #c0c0c0
        font: 
            style: italic
            size: 15px
            weight: 300
        margin-bottom: 80px
        strong
            font-weight: 700
.general-wrapper
    display: block
    width: 100%
    margin: 0px
    padding: 0px
    header
        display: block
        width: 100%
        margin: 0px
        padding: 0px
        background: #FFF
        .navbar-conect-ics
            background: #FFF
            padding: 20px 0px 25px 0px
            z-index: 100
            transition: all 0.3s ease-Out
            &.active
                padding: 5px 0px 5px 0px
                @include breakpoint(sm_pc)
                    .aux-logo
                        display: none
            .navbar-header
                a
                    display: inline-block
                    img
                        max-width: 200px
                        @include breakpoint(sm_pc)
                            max-width: 180px
                        @include breakpoint(tablet)
                            max-width: 180px
                .navbar-toggle
                    border: 1px solid #585858
                    .icon-bar
                        background: #585858
            #navbar
                text-align: center
                .navbar-nav
                    float: none
                    display: inline-block
                    font:
                        family: $regular
                        size: em(13)
                        weight: bold
                    color: #555555
                    margin-top: 15px
                    li 
                        position: relative
                        a 
                            color: inherit
                            &:after
                                content: ""
                                display: block
                                width: 1px
                                height: 15px
                                background: #d0d0d0
                                position: absolute
                                top: 35%
                                right: 0px
                                @include breakpoint(mobile)
                                    display: none
                            &:hover, &:focus
                                background: transparent
                        &:last-child a:after
                            display: none
            .aux-logo
                @include breakpoint(sm_pc)
                    width: 100%
                    text-align: center
                img
                    margin-top: 20px
    .wrapper-content
        display: block
        width: 100%
        margin: 125px 0px 0px 0px
        padding: 0px
        section
            display: block
            width: 100%
            margin: 0px
            padding: 0px
            &.home
                max-height: 550px
                background: url("../assets/img/site/bg-section-1.jpg") no-repeat center center
                background-size: cover
                color: #FFF
                margin-bottom: 85px
                .box
                    margin: 40% 0px 66px 0px
                    @include breakpoint(mobile)
                        margin: 25% 0px 66px 0px
                        background: rgba(0, 0, 0, 0.7)
                        padding-top: 10px
                        padding-bottom: 10px 
                    h2
                        margin: 0px 0px 12px 0px
                        font:
                            size: em(32)
                            weight: 800
                        text-transform: uppercase
                    p
                        margin: 0px
                        font:
                            size: em(14)
                            weight: 400
            &.solutions
                > .container
                    padding: 0px 0px 80px 0px
                    border-bottom: solid 1px #e1dddd
                .title
                    display: block
                    width: 55%
                    margin: 0px auto
                    position: relative
                    @include breakpoint(mobile)
                        width: 100%
                    &:after
                        content: ""
                        display: block
                        width: 152px
                        height: 8px
                        background: url("../assets/img/line-pink.png") no-repeat center center
                        position: absolute
                        top: 70%
                        right: -150px
                        @include breakpoint(mobile)
                            display: none
                    &:before
                        content: ""
                        display: block
                        width: 152px
                        height: 8px
                        background: url("../assets/img/line-blue.png") no-repeat center center
                        position: absolute
                        top: 70%
                        left: -150px
                        @include breakpoint(mobile)
                            display: none
                    h3
                        color: #585858
                        font:
                            weight: 300
                            size: em(32)
                        margin: 0px 0px 45px 0px
                        @include breakpoint(mobile)
                            font-size: 25px
                        strong
                            font-weight: bold
                .circle
                    display: block
                    width: 270px 
                    height: 270px
                    line-height: 240px
                    margin: 0px auto 60px
                    border-radius: 100%
                    text-align: center
                h5
                    color: #FFF
                    font:
                        size: em(24)
                        weight: 300
                    display: inline-block
                    vertical-align: middle
                    line-height: 1
                    text-transform: uppercase
                    width: 80%
                    strong
                        font-weight: bold
                ul
                    color: #585858
                    font: 
                        size: em(15)
                        weight: 300
                    padding: 0px
                    margin: 0px
                    list-style-image: url('../assets/img/site/bullet.png')
                .box-left
                    &:after 
                        content: ""
                        display: block
                        width: 159px
                        height: 8px
                        background: url("../assets/img/line-green.png") no-repeat center center
                        position: absolute
                        top: 30%
                        right: -80px
                        z-index: 10
                        @include breakpoint(mobile)
                            display: none
                    .circle
                        background: #36c6eb
                        border: solid 14px #9ae2f5 
                .box-right 
                    @include breakpoint(mobile)
                        margin: 50px 0px 0px 0px
                    .circle
                        background: #e51f6c
                        border: solid 14px #f28fb5
            &.brands
                padding: 60px 0px
                h3
                    color: #585858
                    font:
                        size: em(32)
                        weight: 300
                    margin: 0px
                .list
                    display: block
                    width: 100%
                    margin: 60px 0px 0px 0px
                    > div
                        display: inline-block
                        margin-right: 80px
                        @include breakpoint(md_pc)
                            margin-right: 20px
                        @include breakpoint(tablet)
                            margin: 
                                right: 80px
                                bottom: 30px
                        @include breakpoint(mobile)
                            margin: 15px auto
                            text-align: center
                            width: 100%
                        &:last-child
                            margin: 0px
            &.clients
                background: #fafafa
                padding: 85px 0px
                h3
                    font:
                        weight: bold
                        size: em(32)
                    color: #585858
                    text-align: center
                    margin: 0px 0px 55px 0px
                ul
                    padding: 0px
                    margin: 0px
                    display: block
                    width: 100%
                    list-style: none
                    li
                        display: block
                        width: 20%
                        height: 70px
                        text-align: center
                        float: left
                        line-height: 70px
                        font:
                            size: em(14)
                        border-right: solid 1px #b2b2b2
                        @include breakpoint(tablet)
                            width: 100%
                            border-right: none
                        &:last-child
                            border: none
                        span
                            display: inline-block
                            vertical-align: middle
                            line-height: 1.4
                            width: 75%
                            p
                                font: 
                                    size: 13px
                                    weight: 300
                                    style: italic
            &.contact
                position: relative
                .map
                    display: block
                    width: 100%
                    height: 585px
                    .infoBox
                        background: rgba(26, 204, 210, 0.8)
                        padding: 15px
                        color: #FFF
                        font:
                            size: 12px
                            weight: 300
                > .container
                    position: absolute
                    top: 30px
                    right: 0px
                    margin: auto
                    left: 0px
                    z-index: 10
                    @include breakpoint(mobile)
                        position: relative
                        top: 0px
                        margin: 0px 0px 80px 0px 
                    .form
                        h3
                            font:
                                size: em(32)
                                weight: bold
                            color: #585858
                            text-align: center
                        .form-group
                            .form-control
                                background: #FFF
                                border-radius: 0px
                                color: #585858
                                font-size: 15px
                                border-color: #b8b8b8
                                &::-webkit-input-placeholder 
                                    color: #585858
                                &:-moz-placeholder 
                                    color: #585858
                                &::-moz-placeholder 
                                    color: #585858
                                &:-ms-input-placeholder 
                                    color: #585858
                        textarea
                            resize: none
                        .wpcf7-form-control-wrap
                            display: inline-block
                            .wpcf7-not-valid-tip
                                border: none
                                background: transparent
                                top: 0px
                                left: inherit
                                right: 0px
                                font-size: 12px
                        .send
                            text-align: center
                            input
                                background: #1accd2
                                font:
                                    size: em(21)
                                    weight: 300
                                text-transform: uppercase
                                color: #FFF
                                border: none
                                -webkit-appearance: none
                                border-radius: 50px
                                padding: 10px 35px
                                outline: none


footer
    display: block
    width: 100%
    padding: 22px 0px
    background: #f2f2f2
    color: #5d5d5d
    font:
        weight: 300
        size: em(14)
    margin: 20px 0px 0px
    p 
        margin: 0px
        strong
            font-weight: 700
        a 
            color: inherit
    .box-left   
        text-align: left
        @include breakpoint(mobile)
            text-align: center
            margin-bottom: 15px 
    .box-right 
        text-align: right
        @include breakpoint(mobile)
            text-align: center