body {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: #FFF;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif; }

.clear {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  clear: both; }

.home footer {
  margin-top: 0px; }

.general-wrapper-landing {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px; }
  .general-wrapper-landing header {
    display: block;
    width: 100%;
    padding: 12px 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 768px) {
      .general-wrapper-landing header {
        background: url("../assets/img/bgheader.jpg") no-repeat center center;
        background-size: cover; } }
    .general-wrapper-landing header img {
      display: block;
      margin: 0px auto; }
  .general-wrapper-landing .slider {
    display: block;
    width: 100%;
    margin: -125px 0px 0px 0px;
    padding: 0px; }
    @media only screen and (max-width: 768px) {
      .general-wrapper-landing .slider {
        margin: 0px; } }
  .general-wrapper-landing .form-box form {
    display: inline-block;
    margin-bottom: 50px; }
    .general-wrapper-landing .form-box form > p {
      background: url("../assets/img/line-green.png") no-repeat center top;
      font-size: 1.3125em;
      font-weight: 300;
      color: #585858;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 20px; }
      .general-wrapper-landing .form-box form > p strong {
        font-weight: 700; }
    .general-wrapper-landing .form-box form .form-group .form-control {
      border-radius: 0px;
      border-color: #b8b8b8;
      color: #585858;
      font-size: 0.9375em; }
      .general-wrapper-landing .form-box form .form-group .form-control::-webkit-input-placeholder {
        color: #585858; }
      .general-wrapper-landing .form-box form .form-group .form-control:-moz-placeholder {
        color: #585858; }
      .general-wrapper-landing .form-box form .form-group .form-control::-moz-placeholder {
        color: #585858; }
      .general-wrapper-landing .form-box form .form-group .form-control:-ms-input-placeholder {
        color: #585858; }
    .general-wrapper-landing .form-box form .send input {
      background: #1accd2;
      -webkit-appearance: none;
      color: #FFF;
      font-size: 21px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      border-radius: 50px;
      outline: none;
      border: none;
      padding: 6px 40px;
      margin-bottom: 30px; }
    .general-wrapper-landing .form-box form div.wpcf7-response-output {
      clear: both; }
  .general-wrapper-landing .pre-footer {
    display: block;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background: #f0f0f0; }
    @media only screen and (max-width: 480px) {
      .general-wrapper-landing .pre-footer {
        padding-bottom: 15px; } }
    .general-wrapper-landing .pre-footer p {
      color: #585858;
      font-size: 1.375em;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      width: 69%;
      display: block;
      float: left;
      margin: 60px 0px 0px 0px; }
      @media only screen and (max-width: 480px) {
        .general-wrapper-landing .pre-footer p {
          width: 100%; } }
      .general-wrapper-landing .pre-footer p strong {
        font-weight: 700; }
    .general-wrapper-landing .pre-footer img {
      position: relative;
      top: -20px; }
      @media only screen and (max-width: 480px) {
        .general-wrapper-landing .pre-footer img {
          display: block;
          margin: 0px auto;
          top: 0px; } }
  .general-wrapper-landing .bot-text {
    color: #c0c0c0;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 80px; }
    .general-wrapper-landing .bot-text strong {
      font-weight: 700; }

.general-wrapper {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px; }
  .general-wrapper header {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #FFF; }
    .general-wrapper header .navbar-conect-ics {
      background: #FFF;
      padding: 20px 0px 25px 0px;
      z-index: 100;
      transition: all 0.3s ease-Out; }
      .general-wrapper header .navbar-conect-ics.active {
        padding: 5px 0px 5px 0px; }
        @media only screen and (max-width: 992px) {
          .general-wrapper header .navbar-conect-ics.active .aux-logo {
            display: none; } }
      .general-wrapper header .navbar-conect-ics .navbar-header a {
        display: inline-block; }
        .general-wrapper header .navbar-conect-ics .navbar-header a img {
          max-width: 200px; }
          @media only screen and (max-width: 992px) {
            .general-wrapper header .navbar-conect-ics .navbar-header a img {
              max-width: 180px; } }
          @media only screen and (max-width: 768px) {
            .general-wrapper header .navbar-conect-ics .navbar-header a img {
              max-width: 180px; } }
      .general-wrapper header .navbar-conect-ics .navbar-header .navbar-toggle {
        border: 1px solid #585858; }
        .general-wrapper header .navbar-conect-ics .navbar-header .navbar-toggle .icon-bar {
          background: #585858; }
      .general-wrapper header .navbar-conect-ics #navbar {
        text-align: center; }
        .general-wrapper header .navbar-conect-ics #navbar .navbar-nav {
          float: none;
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-size: 0.8125em;
          font-weight: bold;
          color: #555555;
          margin-top: 15px; }
          .general-wrapper header .navbar-conect-ics #navbar .navbar-nav li {
            position: relative; }
            .general-wrapper header .navbar-conect-ics #navbar .navbar-nav li a {
              color: inherit; }
              .general-wrapper header .navbar-conect-ics #navbar .navbar-nav li a:after {
                content: "";
                display: block;
                width: 1px;
                height: 15px;
                background: #d0d0d0;
                position: absolute;
                top: 35%;
                right: 0px; }
                @media only screen and (max-width: 480px) {
                  .general-wrapper header .navbar-conect-ics #navbar .navbar-nav li a:after {
                    display: none; } }
              .general-wrapper header .navbar-conect-ics #navbar .navbar-nav li a:hover, .general-wrapper header .navbar-conect-ics #navbar .navbar-nav li a:focus {
                background: transparent; }
            .general-wrapper header .navbar-conect-ics #navbar .navbar-nav li:last-child a:after {
              display: none; }
      @media only screen and (max-width: 992px) {
        .general-wrapper header .navbar-conect-ics .aux-logo {
          width: 100%;
          text-align: center; } }
      .general-wrapper header .navbar-conect-ics .aux-logo img {
        margin-top: 20px; }
  .general-wrapper .wrapper-content {
    display: block;
    width: 100%;
    margin: 125px 0px 0px 0px;
    padding: 0px; }
    .general-wrapper .wrapper-content section {
      display: block;
      width: 100%;
      margin: 0px;
      padding: 0px; }
      .general-wrapper .wrapper-content section.home {
        max-height: 550px;
        background: url("../assets/img/site/bg-section-1.jpg") no-repeat center center;
        background-size: cover;
        color: #FFF;
        margin-bottom: 85px; }
        .general-wrapper .wrapper-content section.home .box {
          margin: 40% 0px 66px 0px; }
          @media only screen and (max-width: 480px) {
            .general-wrapper .wrapper-content section.home .box {
              margin: 25% 0px 66px 0px;
              background: rgba(0, 0, 0, 0.7);
              padding-top: 10px;
              padding-bottom: 10px; } }
          .general-wrapper .wrapper-content section.home .box h2 {
            margin: 0px 0px 12px 0px;
            font-size: 2em;
            font-weight: 800;
            text-transform: uppercase; }
          .general-wrapper .wrapper-content section.home .box p {
            margin: 0px;
            font-size: 0.875em;
            font-weight: 400; }
      .general-wrapper .wrapper-content section.solutions > .container {
        padding: 0px 0px 80px 0px;
        border-bottom: solid 1px #e1dddd; }
      .general-wrapper .wrapper-content section.solutions .title {
        display: block;
        width: 55%;
        margin: 0px auto;
        position: relative; }
        @media only screen and (max-width: 480px) {
          .general-wrapper .wrapper-content section.solutions .title {
            width: 100%; } }
        .general-wrapper .wrapper-content section.solutions .title:after {
          content: "";
          display: block;
          width: 152px;
          height: 8px;
          background: url("../assets/img/line-pink.png") no-repeat center center;
          position: absolute;
          top: 70%;
          right: -150px; }
          @media only screen and (max-width: 480px) {
            .general-wrapper .wrapper-content section.solutions .title:after {
              display: none; } }
        .general-wrapper .wrapper-content section.solutions .title:before {
          content: "";
          display: block;
          width: 152px;
          height: 8px;
          background: url("../assets/img/line-blue.png") no-repeat center center;
          position: absolute;
          top: 70%;
          left: -150px; }
          @media only screen and (max-width: 480px) {
            .general-wrapper .wrapper-content section.solutions .title:before {
              display: none; } }
        .general-wrapper .wrapper-content section.solutions .title h3 {
          color: #585858;
          font-weight: 300;
          font-size: 2em;
          margin: 0px 0px 45px 0px; }
          @media only screen and (max-width: 480px) {
            .general-wrapper .wrapper-content section.solutions .title h3 {
              font-size: 25px; } }
          .general-wrapper .wrapper-content section.solutions .title h3 strong {
            font-weight: bold; }
      .general-wrapper .wrapper-content section.solutions .circle {
        display: block;
        width: 270px;
        height: 270px;
        line-height: 240px;
        margin: 0px auto 60px;
        border-radius: 100%;
        text-align: center; }
      .general-wrapper .wrapper-content section.solutions h5 {
        color: #FFF;
        font-size: 1.5em;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        text-transform: uppercase;
        width: 80%; }
        .general-wrapper .wrapper-content section.solutions h5 strong {
          font-weight: bold; }
      .general-wrapper .wrapper-content section.solutions ul {
        color: #585858;
        font-size: 0.9375em;
        font-weight: 300;
        padding: 0px;
        margin: 0px;
        list-style-image: url("../assets/img/site/bullet.png"); }
      .general-wrapper .wrapper-content section.solutions .box-left:after {
        content: "";
        display: block;
        width: 159px;
        height: 8px;
        background: url("../assets/img/line-green.png") no-repeat center center;
        position: absolute;
        top: 30%;
        right: -80px;
        z-index: 10; }
        @media only screen and (max-width: 480px) {
          .general-wrapper .wrapper-content section.solutions .box-left:after {
            display: none; } }
      .general-wrapper .wrapper-content section.solutions .box-left .circle {
        background: #36c6eb;
        border: solid 14px #9ae2f5; }
      @media only screen and (max-width: 480px) {
        .general-wrapper .wrapper-content section.solutions .box-right {
          margin: 50px 0px 0px 0px; } }
      .general-wrapper .wrapper-content section.solutions .box-right .circle {
        background: #e51f6c;
        border: solid 14px #f28fb5; }
      .general-wrapper .wrapper-content section.brands {
        padding: 60px 0px; }
        .general-wrapper .wrapper-content section.brands h3 {
          color: #585858;
          font-size: 2em;
          font-weight: 300;
          margin: 0px; }
        .general-wrapper .wrapper-content section.brands .list {
          display: block;
          width: 100%;
          margin: 60px 0px 0px 0px; }
          .general-wrapper .wrapper-content section.brands .list > div {
            display: inline-block;
            margin-right: 80px; }
            @media only screen and (max-width: 1200px) {
              .general-wrapper .wrapper-content section.brands .list > div {
                margin-right: 20px; } }
            @media only screen and (max-width: 768px) {
              .general-wrapper .wrapper-content section.brands .list > div {
                margin-right: 80px;
                margin-bottom: 30px; } }
            @media only screen and (max-width: 480px) {
              .general-wrapper .wrapper-content section.brands .list > div {
                margin: 15px auto;
                text-align: center;
                width: 100%; } }
            .general-wrapper .wrapper-content section.brands .list > div:last-child {
              margin: 0px; }
      .general-wrapper .wrapper-content section.clients {
        background: #fafafa;
        padding: 85px 0px; }
        .general-wrapper .wrapper-content section.clients h3 {
          font-weight: bold;
          font-size: 2em;
          color: #585858;
          text-align: center;
          margin: 0px 0px 55px 0px; }
        .general-wrapper .wrapper-content section.clients ul {
          padding: 0px;
          margin: 0px;
          display: block;
          width: 100%;
          list-style: none; }
          .general-wrapper .wrapper-content section.clients ul li {
            display: block;
            width: 20%;
            height: 70px;
            text-align: center;
            float: left;
            line-height: 70px;
            font-size: 0.875em;
            border-right: solid 1px #b2b2b2; }
            @media only screen and (max-width: 768px) {
              .general-wrapper .wrapper-content section.clients ul li {
                width: 100%;
                border-right: none; } }
            .general-wrapper .wrapper-content section.clients ul li:last-child {
              border: none; }
            .general-wrapper .wrapper-content section.clients ul li span {
              display: inline-block;
              vertical-align: middle;
              line-height: 1.4;
              width: 75%; }
              .general-wrapper .wrapper-content section.clients ul li span p {
                font-size: 13px;
                font-weight: 300;
                font-style: italic; }
      .general-wrapper .wrapper-content section.contact {
        position: relative; }
        .general-wrapper .wrapper-content section.contact .map {
          display: block;
          width: 100%;
          height: 585px; }
          .general-wrapper .wrapper-content section.contact .map .infoBox {
            background: rgba(26, 204, 210, 0.8);
            padding: 15px;
            color: #FFF;
            font-size: 12px;
            font-weight: 300; }
        .general-wrapper .wrapper-content section.contact > .container {
          position: absolute;
          top: 30px;
          right: 0px;
          margin: auto;
          left: 0px;
          z-index: 10; }
          @media only screen and (max-width: 480px) {
            .general-wrapper .wrapper-content section.contact > .container {
              position: relative;
              top: 0px;
              margin: 0px 0px 80px 0px; } }
          .general-wrapper .wrapper-content section.contact > .container .form h3 {
            font-size: 2em;
            font-weight: bold;
            color: #585858;
            text-align: center; }
          .general-wrapper .wrapper-content section.contact > .container .form .form-group .form-control {
            background: #FFF;
            border-radius: 0px;
            color: #585858;
            font-size: 15px;
            border-color: #b8b8b8; }
            .general-wrapper .wrapper-content section.contact > .container .form .form-group .form-control::-webkit-input-placeholder {
              color: #585858; }
            .general-wrapper .wrapper-content section.contact > .container .form .form-group .form-control:-moz-placeholder {
              color: #585858; }
            .general-wrapper .wrapper-content section.contact > .container .form .form-group .form-control::-moz-placeholder {
              color: #585858; }
            .general-wrapper .wrapper-content section.contact > .container .form .form-group .form-control:-ms-input-placeholder {
              color: #585858; }
          .general-wrapper .wrapper-content section.contact > .container .form textarea {
            resize: none; }
          .general-wrapper .wrapper-content section.contact > .container .form .wpcf7-form-control-wrap {
            display: inline-block; }
            .general-wrapper .wrapper-content section.contact > .container .form .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
              border: none;
              background: transparent;
              top: 0px;
              left: inherit;
              right: 0px;
              font-size: 12px; }
          .general-wrapper .wrapper-content section.contact > .container .form .send {
            text-align: center; }
            .general-wrapper .wrapper-content section.contact > .container .form .send input {
              background: #1accd2;
              font-size: 1.3125em;
              font-weight: 300;
              text-transform: uppercase;
              color: #FFF;
              border: none;
              -webkit-appearance: none;
              border-radius: 50px;
              padding: 10px 35px;
              outline: none; }

footer {
  display: block;
  width: 100%;
  padding: 22px 0px;
  background: #f2f2f2;
  color: #5d5d5d;
  font-weight: 300;
  font-size: 0.875em;
  margin: 20px 0px 0px; }
  footer p {
    margin: 0px; }
    footer p strong {
      font-weight: 700; }
    footer p a {
      color: inherit; }
  footer .box-left {
    text-align: left; }
    @media only screen and (max-width: 480px) {
      footer .box-left {
        text-align: center;
        margin-bottom: 15px; } }
  footer .box-right {
    text-align: right; }
    @media only screen and (max-width: 480px) {
      footer .box-right {
        text-align: center; } }
